---
layout: default
---

{% include back_link.html %}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}
</article>

<!-- {% include newsletter.html %} -->

{% for post in site.posts limit:4 %}
<li>
  <a href="{{ post.url }}"><h5>{{ post.title }}</h5></a>
  <!-- <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p> -->
  <div>{{ post.content |truncatehtml | truncatewords: 60 }}</div>
</li>
{% endfor %}